@use '@t-styles/templates.scss' as tStyles;

$COLOR_LOW: #0f0;
$COLOR_MEDIUM: #ff0;
$COLOR_HIGH: #f00;

section {
  max-width: 650px;

  header {
    margin: 1.5rem;
  }
}

.body {
  font-size: 0.7rem;
}

:global {
  .low {
    color: $COLOR_LOW;
  }

  .medium {
    color: $COLOR_MEDIUM;
  }

  .high {
    color: $COLOR_HIGH;
  }
}

.entry {
  padding: 1em;

  &:hover {
    background-color: var(--color-bg-dark);
  }

  &:global(.hidden) {
    display: none;
  }
}

.meta {
  display: grid;
  grid-template: 1fr / 50px 150px 1fr;
}

.method {
  font-weight: bold;

  &[data-method='GET'] {
    color: #47b0d3;
  }

  &[data-method='POST'] {
    color: #6751d6;
  }
}

.form-row {
  align-items: center;
  display: flex;
  margin: 0.8rem 0;

  &>label {
    margin-right: 0.6rem;
  }

  &>span,
  &:not(:has(span)) label {
    font-weight: bold;
    margin-right: 1rem;
  }

  &>label:not(:first-of-type) {
    margin-left: 0.6rem;
  }

  :global(.toggle-icon) {
    margin: 0 0.6rem;
  }
}

.pathname {
  color: #476fd3;
}

.title {
  cursor: pointer;

  &::after {
    --after-icon-height: 0.65em;

    margin-left: 0.5em;
    opacity: 0;

    @include tStyles.animationLoading;
  }

  &:has(+ section .body:empty) {
    pointer-events: none;

    &::after {
      opacity: 1;
    }
  }
}

.uuid {
  color: #a947d3;
}