@use 'sass:list' as list;
@use 'sass:string' as string;
@use '@t-styles/mixins.scss' as tMixins;

$COLOR_LOW: #0f0;
$COLOR_MEDIUM: #ff0;
$COLOR_NORMAL: #909090;
$COLOR_HIGH: #f00;
$COLORS: #2196f3, #8bc34a, #9c27b0, #009688, #2c387e, #e91e63;
$SECTION_SPACE: 1.2rem;

section {
  font-size: 0.8rem;
  margin: $SECTION_SPACE 0;

  &+section {
    border-top: 1px solid var(--color-text);
    padding-top: calc($SECTION_SPACE * 0.5);
  }
}

:global {
  .low {
    color: $COLOR_LOW;
  }

  .medium {
    color: $COLOR_MEDIUM;
  }

  .normal {
    color: $COLOR_NORMAL;
  }

  .high {
    color: $COLOR_HIGH;
  }

  @each $color in $COLORS {
    $index: list.index($COLORS, $color) - 1;

    .color-#{$index} {
      color: $color;
    }
  }
}

:global(#filters) {
  margin: 1.5rem;

  .form-row {
    align-items: center;
    display: flex;
    margin: 0.4em 0;

    &>label {
      margin-right: 0.6rem;
    }

    &>span,
    &:not(:has(span)) label {
      font-weight: bold;
      margin-right: 1rem;
    }

    &>label:not(:first-of-type) {
      margin-left: 0.6rem;
    }

    :global(.toggle-icon) {
      margin: 0 0.6rem;
    }
  }
}

:global(#logs-body) {
  font-size: 0.7rem;

  .entry {
    padding: 1em;

    &:hover {
      background-color: var(--color-bg-dark);
    }

    &:global(.hidden) {
      display: none;
    }
  }

  .error {
    color: #f00;

    &:empty {
      display: none;
    }
  }

  .info {
    font-style: italic;

    &:empty {
      display: none;
    }
  }

  .meta {
    display: grid;
    grid-template: 1fr / 50px 150px 1fr;
  }

  .method {
    font-weight: bold;
  }

  .pathname {
    color: #476fd3;
  }

  .uuid {
    color: #a947d3;
  }
}

:global(#stats) {
  display: flex;
  flex-flow: row nowrap;

  &>article {
    margin: 0 $SECTION_SPACE;
  }

  :global(#stats-delay),
  :global(#stats-error),
  :global(#stats-format),
  :global(#stats-method),
  :global(#stats-status) {
    display: inline-flex;
    flex-flow: column nowrap;

    &::after {
      aspect-ratio: 1;
      background: conic-gradient(var(--conic-background, ''));
      border-radius: 50%;
      content: '';
      display: block;
    }
  }

  @each $color in $COLORS {
    $index: list.index($COLORS, $color) - 1;

    --bg-color-#{$index}: #{$color};
  }
}

:global(#title) {
  cursor: pointer;

  /* stylelint-disable-next-line no-descending-specificity */
  &::after {
    --after-icon-height: 0.65em;

    margin-left: 0.5em;
    opacity: 0;

    @include tMixins.animationLoading;
  }

  &:has(~section :global(#logs-body):empty) {
    pointer-events: none;

    &::after {
      opacity: 1;
    }
  }
}