$COLOR_LOW: #0f0;
$COLOR_MEDIUM: #ff0;
$COLOR_HIGH: #f00;

.body {
  font-size: 0.7rem;
}

:global {
  .low {
    color: $COLOR_LOW;
  }

  .medium {
    color: $COLOR_MEDIUM;
  }

  .high {
    color: $COLOR_HIGH;
  }
}

.entry {
  padding: 1em;

  &:hover {
    background-color: var(--color-bg-dark);
  }

  input[type='checkbox'] {
    display: none;
  }

  header {
    display: grid;
    grid-template: 1fr / 50px 150px 1fr;
  }
}

.method {
  font-weight: bold;

  &[data-method='GET'] {
    color: #47b0d3;
  }

  &[data-method='POST'] {
    color: #6751d6;
  }
}

.pathname {
  color: #476fd3;
}

.uuid {
  color: #a947d3;
}