:global(#content-body) {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(auto-fit, 13em);
  grid-template-rows: auto;
}

.entry {
  .id {
    color: #2196f3;
    font-weight: bold;
  }

  .link {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    gap: 0.3em;
    text-decoration: none;

    &::after {
      mask-image: url('/icons/rightArrow.svg');
    }
  }

  .name {
    color: #8bc34a;
    max-width: calc(100% - 2em);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .title {
    font-size: 1.5em;
  }
}

.filter-add {
  margin-left: 1em;
  width: 4em;
}