@property --nav-width-close {
  inherits: false;
  initial-value: 40px;
  syntax: "<length>";
}

@property --nav-width-open {
  inherits: false;
  initial-value: 180px;
  syntax: "<length>";
}

@keyframes slideUp {
  from {
    display: block
  }

  to {
    translate: 0 -100%;
  }
}

$TRANS_DURATION: 0.2s;
$TRANS_FUNCTION: ease-out;

.body {
  margin: 1rem 0;

  div {
    overflow: hidden;
  }

  label {
    font-size: 1.2rem;
    font-weight: bold;
  }

  ul {
    list-style: none;
    margin: 0;
    max-height: 100%;
    overflow: hidden;
    padding: 0;
    transition: line-height $TRANS_DURATION $TRANS_FUNCTION, translate $TRANS_DURATION $TRANS_FUNCTION;
  }
}

.body-toggle {
  --before-icon-height: 1em;

  &::after {
    --after-icon-height: 1.5em;

    mask-image: url('./icons/rightArrow.svg');
    rotate: -90deg;
    transition: scale $TRANS_DURATION $TRANS_FUNCTION;
  }

  &::before {
    margin-right: 0.25em;
  }

  &:has(input:checked)::after {
    scale: -1;
  }

  &:has(input:checked)+div ul {
    line-height: 0;
    transition: line-height $TRANS_DURATION $TRANS_FUNCTION $TRANS_DURATION, translate $TRANS_DURATION $TRANS_FUNCTION;
    translate: 0 -100%;
  }
}

.nav-toggle {
  justify-content: center;

  &::after {
    --after-icon-height: 1.5em;

    mask-image: url('./icons/rightArrow.svg');
    transition: scale $TRANS_DURATION $TRANS_FUNCTION;
  }
}

.contents::before {
  mask-image: url('./icons/cart.svg');
}

.dev-tools::before {
  mask-image: url('./icons/gear.svg');
}

.pages::before {
  mask-image: url('./icons/page.svg');
}

.sites::before {
  mask-image: url('./icons/site.svg');
}

.wrapper {
  box-shadow: 0 2px 0 2px var(--color-shadow);
  height: calc(100vh - var(--header-height) - 2 * var(--height-padding));
  padding: 0.5rem;
  transition: width $TRANS_DURATION $TRANS_FUNCTION;
  white-space: nowrap;
  width: var(--nav-width-open);

  .body-toggle span,
  .nav-toggle span {
    max-width: 100%;
    transition: max-width $TRANS_DURATION $TRANS_FUNCTION, opacity 0s $TRANS_DURATION;
  }

  &:has(input[name='nav-toggle']:checked) {
    width: var(--nav-width-close);

    .body-toggle span,
    .nav-toggle span {
      max-width: 0;
      opacity: 0;
      transition-property: max-width;
    }

    .nav-toggle::after {
      scale: -1;
    }
  }
}