---
import DefaultLayout from '@layouts/Default.astro';
---

<DefaultLayout>
  <h1>User configs</h1>
  <p>
    Proin aptent tristique massa potenti pulvinar vitae porta bibendum dapibus. Suscipit primis
    sodales risus neque curae erat suspendisse. Ultricies felis etiam mauris vestibulum suscipit
    dictum. Litora vivamus venenatis ullamcorper sagittis purus dui sem mus. Augue lacus parturient
    nascetur quis ridiculus consequat.
  </p>
</DefaultLayout>
