---
import { CSite } from '@classes/collection/CSite';
import DefaultLayout from '@layouts/Default.astro';

const { id } = Astro.params;

if (!id) {
  return Astro.redirect('/404');
}

const site = await CSite.getEntryFromCollection(id);
if (!site) {
  return Astro.redirect('/404');
}
---

<DefaultLayout>
  <h1>{site.id} - {site.name}</h1>
  <p>!incomplete</p>
</DefaultLayout>;
