.details {
  background: var(--color-bg);
  border-radius: 1rem;
  box-shadow: 0 0 0 2px rgb(255 255 255 / 50%);
  display: none;
  font-size: 0.8rem;
  left: 10rem;
  padding: 0.5rem;
  position: absolute;
  top: 2.5rem;

  span {
    color: var(--color-highlight);
    font-weight: bold;
    margin-right: 0.2rem;

    &::after {
      content: ': ';
    }
  }
}

.header {
  background: var(--color-bg);
  box-shadow: 0 0 0 2px rgb(255 255 255 / 50%);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 0.85rem;
}

.loggedin {
  display: flex;
}

.title {
  &:hover {
    &+.details {
      display: block;
    }
  }
}