html {
  color-scheme: dark light;
}

html,
body {
  background: var(--color-bg);
  color: var(--color-text);
  font-family: Ubuntu, Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-flow: row wrap;
}

button {
  cursor: pointer;
}

input,
textarea {
  background: var(--input-bg);
  border: none;
  border-radius: 0.5em;
  color: var(--input-color);
  outline: none;
  padding: 0.4em;

  &:focus {
    border: none;
    box-shadow: 0 0 0 2px rgba(var(--input-focus) / 50%);
    color: var(--input-focus);
    outline: 2px solid var(--input-focus);
  }

  label:has(+&:focus) {
    color: var(--input-focus);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

label[for] {
  cursor: pointer;
}

main {
  flex: 1 0 auto;
  padding: 0.85rem;
}

p {
  margin: 0 0 0.5em;
  padding: 0;
}

.after-icon::after {
  aspect-ratio: 1;
  background: var(--color-text);
  content: '';
  display: inline-block;
  height: var(--after-icon-height, 1em);
  mask: no-repeat top left;
  mask-size: cover;
}

.before-icon::before {
  aspect-ratio: 1;
  background: var(--color-text);
  content: '';
  display: inline-block;
  height: var(--before-icon-height, 1em);
  mask: no-repeat top left;
  mask-size: cover;
}