html {
  color-scheme: dark light;
}

html, body {
  background: var(--color-bg);
  color: var(--color-text);
  font-family: Ubuntu, Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}
