:root {
  --color-bg: light-dark(#ddd, #262626);
  --color-text: light-dark(#000, #ddd);
  --color-highlight: light-dark(#34a6db, #34a6db);
  --input-bg: light-dark(#131313, #131313);
  --input-color: light-dark(#131313, #ddd);
  --input-focus: light-dark(#131313, #56bed3);
}