---
const { class: classStr, defaultChecked = false, id, label, name } = Astro.props;

const attributes = {
  checked: defaultChecked,
  id,
  name,
};
---

<label class={classStr} for={id}>
  <span>{label}</span>
  <input type="checkbox" {...attributes} />
</label>

<style>
  input {
    display: none;
  }
  label {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    user-select: none;
  }
</style>
